CLERK_AUTHORIZED_PARTIES=
CLERK_SECRET_KEY=
DATABASE_URL=postgres://tmturtle:change-me@database:5432/tmturtle
POSTGRES_DB=tmturtle
POSTGRES_PASSWORD=change-me
POSTGRES_USER=tmturtle
TMTURTLE_API_PORT=3000
TMTURTLE_WEB_PORT=8080
USPTO_API_KEY=
VITE_CLERK_PUBLISHABLE_KEY=
