CLERK_AUTHORIZED_PARTIES=
CLERK_SECRET_KEY=
DEV_CLERK_SIGN_IN_USER_ID=
DATABASE_URL=postgres://tmterminal:change-me@database:5432/tmterminal
POSTGRES_DB=tmterminal
POSTGRES_PASSWORD=change-me
POSTGRES_USER=tmterminal
TMTERMINAL_API_PORT=3000
TMTERMINAL_WEB_PORT=8080
USPTO_API_KEY=
USPTO_REQUEST_TIMEOUT_MS=900000
VITE_CLERK_PUBLISHABLE_KEY=
VITE_DEV_CLERK_AUTO_SIGN_IN=false
