CLERK_AUTHORIZED_PARTIES=
CLERK_SECRET_KEY=
DEV_CLERK_SIGN_IN_USER_ID=
DATABASE_URL=postgres://tmturtle:change-me@database:5432/tmturtle
POSTGRES_DB=tmturtle
POSTGRES_PASSWORD=change-me
POSTGRES_USER=tmturtle
TMTURTLE_API_PORT=3000
TMTURTLE_WEB_PORT=8080
USPTO_API_KEY=
USPTO_REQUEST_TIMEOUT_MS=900000
VITE_CLERK_PUBLISHABLE_KEY=
VITE_DEV_CLERK_AUTO_SIGN_IN=false
